<style type="text/css">
select { font-family:"Arial"; font-size:12pt; font-weight:400; }
#f24l { font-family:"Arial"; font-size:24pt; font-weight:400; }
#f24 { font-family:"Arial"; font-size:24pt; font-weight:600; }
#f24b { font-family:"Arial"; font-size:24pt; font-weight:800; }
#f16l { font-family:"Arial"; font-size:16pt; font-weight:400; }
#f16 { font-family:"Arial"; font-size:16pt; font-weight:600; }
#f16b { font-family:"Arial"; font-size:16pt; font-weight:800; }
#f12l { font-family:"Arial"; font-size:12pt; font-weight:400; }
#f12 { font-family:"Arial"; font-size:12pt; font-weight:600; }
#f12b { font-family:"Arial"; font-size:12pt; font-weight:800; }
.ca1 { background-color:#46A6DD; color:#CC0055; }
.ca2 { background-color:#CC0055; color:#46A6DD; }
.cb { background-color:#4AAAE2; }
.cc { background-color:#52B2E8; }
.cd { background-color:#58B8F0; }
.ce { background-color:#60C0F6; }
.cf { background-color:#68C8FF; }
</style>
